.head{
    margin: 50px auto auto auto;
    border-radius: 50%;
    height: 100px;
    display: block;
}
body{
    background:
    linear-gradient(227deg, #EBEBEB 0%, #C5C6C8 100%),
    linear-gradient(155deg, rgba(255,255,255,0.50) 5%, rgba(0,0,0,0.50) 100%);
background-blend-mode: multiply;
    font-family: 'Noto Serif SC', serif;
}
#name{
    margin: 0 0 0 0;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
.subtitle{
    text-align: left;
    margin:  0 0 0 50px;
    font-size: 30px;
}
.cq{
    height: 200px;
}
p {
    word-wrap: break-word;
    margin: 0 0 0 30px;
  }
  #delete{
    text-decoration: line-through
  }